@page "/log"

@using BlazorAppHttps.Data
@inject IProtocolService _protocolService

@inject NavigationManager _navigationManager
@inject IReportService _reportService

<div class="container d-flex justify-content-center my-5">

    <div class="form-container p-4 mx-3 mx-sm-0">

        <h1 class="h2 mb-3 fw-bold w-100 text-center text-white" style="opacity: var(--custom-text-alpha-a);">作業日誌</h1>

        <h1 class="h4 mb-3 w-100 text-center text-white" style="opacity: var(--custom-text-alpha-a);">@_reportService.Protocol.Title</h1>

        <form>

            <div class="text-white mb-2">

                <FullSizeInput Label="開始時間" Type="info" Info="@_reportService.ProtocolStart.ToString(_reportService.TimeFormat)"/>
                <FullSizeInput Label="担当者" @bind-Value="_reportService.OperatorName" ValueChangedListener="ValidateInputs"/>

                <div class="mb-2" style="height: 5px; background-color: var(--custom-primary-color);"></div>

                @if (_reportService.Protocol.LogType == "Simple")
                {
                    <SimpleInput @ref="_inputs" Title="処理検体数" RegexPattern="^\d+$" ValueChangedListener="@ValidateInputs"></SimpleInput>
                }
                else if (_reportService.Protocol.LogType == "DnaTray")
                {
                    <DnaTrayInput @ref="_inputs" ValueChangedListener="ValidateInputs"></DnaTrayInput>
                }

                <div class="mb-2" style="height: 5px; background-color: var(--custom-primary-color);"></div>

                @* @foreach (var input in _operator.DNATrayInputs) *@
                @* { *@
                @*     <SampleInput UID="@input.UID" RemoveInput="RemoveDnaTray" LocationValueChangedListener="ValidateInputs" *@
                @*                  @bind-TrayID="input.TrayID" @bind-Location="input.Location"> *@
                @*     </SampleInput> *@
                @* } *@
                @* *@
                @* <div class="mb-2" style="height: 5px; background-color: var(--custom-primary-color);"></div> *@
                @* *@
                @* <div class="mb-2"> *@
                @*     <button type="button" class="btn btn-lg w-100 text-white" *@
                @*             style="background-color: var(--custom-primary-color);" @onclick="NewDnaTray"> *@
                @*         DNAトレイID追加 *@
                @*     </button> *@
                @* </div> *@
                @* *@
                @* <FullSizeInput Label="処理検体数" Type="info" Info="@_operator.NumberOfSamples.ToString()"/> *@
                @* *@
                @* <div class="d-flex flex-wrap flex-row align-items-center justify-content-between"> *@
                @* *@
                @*     <HalfSizeInput Label="通常" @bind-Value="_operator.NumberOfNormalSamples" *@
                @*                    ValueChangedListener="ValidateInputs"/> *@
                @*     <HalfSizeInput Label="分割後残検体" @bind-Value="_operator.NumberOfRemainSamples" *@
                @*                    ValueChangedListener="ValidateInputs"/> *@
                @*     <HalfSizeInput Label="再採便" @bind-Value="_operator.NumberOfRedoSamples" *@
                @*                    ValueChangedListener="ValidateInputs"/> *@
                @*     <HalfSizeInput Label="再採便分割後残検体" @bind-Value="_operator.NumberOfRedoRemainSamples" *@
                @*                    ValueChangedListener="ValidateInputs"/> *@
                @*     <HalfSizeInput Label="NC" Type="info" Info="@_operator.NumberOfNCSamples.ToString()"/> *@
                @*     <HalfSizeInput Label="ダミー" Type="info" Info="@_operator.NumberOfDummySamples.ToString()"/> *@
                @* *@
                @* </div> *@

            </div>

            @if (!_reportService.IsValid && _reportService.ErrorMessages != null)
            {
                <div class="mb-2">
                    @foreach (var err in _reportService.ErrorMessages)
                    {
                        <div class="fs-6 px-3" style="color: var(--custom-error-color);">@err</div>
                    }
                </div>
            }

            <button class="btn btn-lg w-100 text-white mb-3"
                    style="background-color: var(--custom-primary-color);" type="button" @onclick="PreviousPage">
                戻る
            </button>

            <button disabled="@(!_reportService.IsValid)" class="btn btn-lg w-100 text-white"
                    style="background-color: var(--custom-primary-color);" type="button" @onclick="HandleValidSubmit">
                開始
            </button>

        </form>

    </div>

</div>

@code {

    private ProtocolLogInputs _inputs;

    protected override void OnInitialized()
    {
        if (_reportService.Protocol == null || _reportService.ProtocolStart == default)
        {
            _navigationManager.NavigateTo("/");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _reportService.Inputs = _inputs;
    }

    private void PreviousPage()
    {
        _navigationManager.NavigateTo($"/");
    }


    private void HandleValidSubmit()
    {
        _reportService.ValidateInputs();

        if (_reportService.IsValid)
        {
            _navigationManager.NavigateTo($"/step");
        }
    }

    private void ValidateInputs()
    {
        _reportService.ValidateInputs();
    }

}